<%- include('../partials/header') %>


<form id="add-ticket-form" action="/tickets/<%= ticket._id %>" method="POST">
    <label>Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input type="number" name="price">
    <input type="submit" value="Add Price">
</form>

<%- include('../partials/footer') %>