<%- include('../partials/header') %>


<form id="add-ticket-form" action="/tickets/<%= flightId %>" method="POST">
    <label>Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input type="number" name="price">
    <label>Flight:</label>
    <input hidden type="text" value="<%= flightId %>" name="flight">
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>