<%- include('../partials/header') %>
<h2>Add a New Flight</h2>
<form action="/flights" method="POST">
    <label>Airline:
       <select name="airline">
            <option value="SouthWest">SouthWest</option>
            <option value="Delta">Delta</option>
            <option value="American Airlines">American Airlines</option>
            <option value="Alaskan Airlines">Alaskan Airlines</option>
        </select>
    </label><br>
    <label>Airport:
        <select name="airport">
            <option value="AUS">Austin-Bergstrom</option>
            <option value="DEN">Denver</option>
            <option value="PDX">Portland</option>
            <option value="LAX">Los Angeles</option>
        </select>
    </label><br>
    <label>Flight Number:
        <input type="number" name="flightNo">
    </label><br>
    <label for="departs">Departure:</label>
        <input type="datetime" id="departs"
       name="departs" value ="<%= (new Date(new Date().setFullYear(new Date().getFullYear() + 1))).toISOString().split('T')[0] %>">
    <button type="submit">Add Flight</button>
</form>
<%- include('../partials/footer') %>